<h1>새로운 post를 입력할 화면입니다.</h1>
<!--action을 통해 form을 어디로 날릴지 설정-->
<form action="/posts/create" method="post">
    <!--name을 이용하여 각각의 input box의 이름을 지정-->
    <p>제목</p>
    <input type="text" name="input_title">
    <p>내용</p>
    <input type="text" name="input_content">
    <p>제출</p>
    <input type="submit">
</form>